In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.linear_model

In [2]:
dados = pd.read_csv('dados/houses_train.csv')

In [3]:
dados

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
dados_casa = dados

In [ ]:
#Encontrar a correlação :
sns.pairplot(dados_casa)

In [ ]:
dados_casa.corr()

In [ ]:
#Regressão aplicada 
sns.pairplot(dados_casa, x_vars = ['LotArea'], y_vars = ['SalePrice'], height = 5, kind = 'reg')
sns.pairplot(dados_casa, x_vars = ['LotFrontage'], y_vars = ['SalePrice'], height = 5, kind= 'reg')
sns.pairplot(dados_casa, x_vars = ['MSSubClass'], y_vars = ['SalePrice'], height = 5, kind= 'reg')
sns.pairplot(dados_casa, x_vars = ['MoSold'], y_vars = ['SalePrice'], height = 5, kind= 'reg')

In [72]:
#Correlação
data_corr = dados_casa.corr().SalePrice.sort_values(ascending=False)[:10].index
data_corr

Index(['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea',
       'TotalBsmtSF', '1stFlrSF', 'FullBath', 'TotRmsAbvGrd', 'YearBuilt'],
      dtype='object')

In [73]:
x = dados[data_corr].drop(['SalePrice'],axis = 1)
y = dados.SalePrice

In [74]:
x.isna()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1455,False,False,False,False,False,False,False,False,False
1456,False,False,False,False,False,False,False,False,False
1457,False,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,False,False,False,False

In [75]:
#Pega dentro do dataset de forma aleatória até completar a % dos dados de teste e de treino
from sklearn.model_selection import train_test_split

In [76]:
#Apresentar os dados de treino - .fit 
#Quero gerar uma predição em cima do teste
#25% dos meus dados vou usar pra teste
#75% dos dados vai pro meu treino

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = 43)

In [77]:
from sklearn.linear_model import LinearRegression

In [78]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x,y)
lr.coef_, lr.intercept_

(array([ 2.09227655e+04,  5.13679300e+01,  1.06342357e+04,  1.45088448e+01,
         1.92465885e+01,  1.39481175e+01, -5.41031135e+03, -8.66391119e+01,
         3.45362905e+02]),
 -758532.9134995528)

In [21]:
x_train.head()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt
242,5,1440,1,352,540,889,1,6,1900
617,6,832,2,528,832,832,1,4,1954
539,8,1601,2,670,1581,1601,2,6,2001
264,5,764,2,504,680,764,1,4,1925
392,5,882,1,294,0,882,1,5,1959

In [20]:
lr.coef_

array([ 2.09227655e+04,  5.13679300e+01,  1.06342357e+04,  1.45088448e+01,
        1.92465885e+01,  1.39481175e+01, -5.41031135e+03, -8.66391119e+01,
        3.45362905e+02])

In [25]:
lr.intercept_

-758532.9134995528

In [27]:
y_pred = lr.predict(x_test)
y_pred

array([161608.09892031, 178173.0660633 , 179161.11988909, 185408.5935939 ,
       189859.12933911, 252632.43340416,  65555.19459859, 175311.53669924,
       118054.38661065, 217684.81108925, 155511.14944097, 303354.57090068,
       134596.73926691,  93224.59461102, 205842.57101853, 131316.12183543,
       141755.92016814,  -1978.07334251, 132063.01930535, 152080.01297846,
       308825.51570784, 102671.22837459, 240031.12521459, 258213.13713839,
       257595.61888922, 359003.43438198,  92124.85524953, 149706.61506448,
       111849.92010545, 127782.46330615, 154111.55480126,  92191.20096806,
       126779.19245885, 128287.51272601,  85343.68531117, 195441.81844375,
       349046.82603478, 226738.835817  , 252829.79184522, 152512.01499574,
       316217.53857102, 185853.202591  ,   3512.27199984, 136303.06249625,
       209527.38105147, 113707.63274053, 147065.83477222, 237207.70515797,
       172805.47081147, 248807.13863667,  96824.7647761 , 160764.09970915,
       187110.03946484, 375662.91455651, 142999.52615298, 113146.30712027,
       102616.8994135 , 229337.36667925, 222193.38243752, 182820.44891817,
        86098.80889291,  78694.5105649 , 151983.26985153, 361906.58705791,
       180206.3124951 , 221909.94352697, 213647.82852178, 313160.31570997,
       121636.47827391, 302958.80180776, 221039.81475901, 149034.83405124,
       119772.37409918, 161843.72623631, 112741.92753645, 215364.67524477,
       176104.35040564, 212086.63497432, 153203.68895524, 130238.35319151,
       113478.39072568, 175649.24409259, 309246.9139205 , 218392.26900414,
       249942.87653084, 137196.90464739, 116987.54077806, 166218.91164324,
       323981.11026133, 147068.98953358, 135230.38524575, 207413.93219067,
       241719.34157869, 396473.41891029, 143521.17148412, 194452.33524847,
       178761.16898908, 242703.32640892, 311743.17391346, 140840.7671747 ,
       119230.79704319,  19481.07568399,  43646.0070325 , 174181.69199883,
       172472.13986414, 177740.65185642, 211828.8921857 , 112654.69533415,
       258817.82963798, 161789.22533633, 231466.03557627, 263526.37558568,
       176712.45857181, 278045.38748515,  77471.0661373 , 152166.65209035,
       147891.47691946, 170105.47368765, 137405.32930999, 210475.53340153,
       226935.46504016, 138467.66903725, 190446.84603451, 159050.45938255,
       295154.65625597, 153670.8208902 , 188590.57537003, 232445.28418351,
       133374.19541419, 123413.58288928, 210605.53122944, 293473.60847948,
       190887.75454841, 187529.46208077, 171751.50849958, 259030.33300921,
       161789.22533633, 313265.296952  , 198335.04866761, 310462.93055065,
       141406.86223561, 172872.84667065, 114977.23406528, 210832.80689653,
        75758.72939403, 259948.66030542, 260067.06683278, 320874.04004151,
       102119.77545774,  43004.52872287, 272975.132776  , 105271.29535627,
        74587.00209707, 143753.51020431,  85142.55412633, 229455.44269371,
       164876.37024966,  46070.66738736, 239785.16475635, 119298.02772327,
        99338.11148786, 198986.27715028, 115868.42589629, 123222.60719426,
       119441.95351685, 186651.50655364, 203462.23574039, 139381.52200132,
       307929.06527339, 277585.5129738 , 318799.3280257 , 163663.96213278,
       199368.57108713, 178302.87898358, 272221.80821284, 119808.61657109,
       315571.09330882, 208588.17860317, 187941.71211558, 219924.80508798,
       277222.49518145, 177449.21383098, 138097.7416351 , 128590.79642824,
       191295.39215398, 152588.02831219, 147710.37767462,  85258.10918866,
       234760.85989404, 138265.11216278, 208900.1625863 , 351852.89114715,
       123684.28118569, 211195.65097355,  61353.28996116, 108203.26810744,
       270159.01241195, 258488.05059717,  94090.35159425, 169189.33487988,
       129473.63858984,  73087.04580716, 177887.09851458, 175729.97026775,
       273264.60339993, 182508.56218472, 225075.71724946, 131885.23751003,
       249888.92644194, 325561.19155477, 154430.6417128 , 164746.38945187,
       103585.9918217 , 274158.30434212, 148204.87936464, 147436.36704418,
       112196.57378685, 115161.73335513, 192088.57424018, 293272.24384457,
       219111.54737503, 104499.2008155 , 212672.80100646, 252846.7178948 ,
        85642.99778108,  85294.38077467, 255732.63894259, 227207.3856008 ,
       242101.84691812, 141725.45883692, 211123.40054836, 231499.34638112,
       144038.28021766, 211820.06228497,  75621.75241343, 172599.16215898,
        67911.06958776, 102799.25087841, 263584.87250985, 257856.51331895,
       198928.56970647, 256959.88038894, 106701.83105754, 515744.08272197,
       182812.89747676, 201569.52336043, 169614.66566702, 257741.99802236,
       259900.33155024, 186486.39122685, 166433.96258471, 197353.24696246,
       136177.03219229, 242457.05480572, 282739.08320106, 218300.86157446,
        43383.15715771, 127580.43058526, 108576.41685969, 132182.09724808,
       118197.07289677, 204352.54701495, 122277.85741123, 304629.14833088,
       226656.05462246, 192521.93915115, 198102.52266861,  61007.92705577,
       219909.32425645,  53818.0301084 , 117417.23608699, 162476.95070842,
       120927.94582029, 277763.73247461, 164832.27974757, 110140.75187356,
       191355.72435688,  32478.59465602, 225387.57503002, 133442.02558876,
       191429.49315352, 242427.26294612, 223765.33307375,  88594.78059169,
       273653.35140355, 213487.58099142, 107133.92772274, 212121.10700955,
       139540.24315335, 110464.06052178, 123026.28993511, 262896.59190777,
       140513.94134097, 301002.56586046, 101857.64228336, 141212.22242579,
       135639.63158131, 264721.66153187, 108439.66608967, 415204.15884279,
       205183.29818647, 137141.17767361, 314140.68623965, 145779.44974935,
       129572.36029367, 258042.49325951, 329922.96792453, 129769.39117298,
       229493.52694925, 115793.50352056, 187228.87739732, 209547.39436516,
       278771.74064194, 223323.31479836, 224830.97294765, 172876.05505164,
       117354.17671095, 255639.28213119, 127272.9243928 , 222076.2833829 ,
       214972.86663937, 199016.2381901 ,  99426.85158779,  67151.10060468,
        46014.59929607, 215362.09020375, 189178.32707911, 130532.53803394,
       212755.75406713, 183633.55072833, 243032.89329589, 221841.50049284,
       118317.27930463, 195071.52689386, 144892.294352  , 212303.91243319,
       198768.65185531,  88565.60314557, 247461.84579117, 172249.66925353,
       279930.33208404, 205378.56077425, 123068.21998389, 171351.57690569,
       231437.35317966,  67279.05398494, 233036.58727754, 158164.65278161,
       235857.09548454,  74050.06984148, 110599.08897818, 174164.06658869,
       199334.47192923, 229719.35337073, 191097.69229513, 173725.08356077,
        67911.06958776, 111770.58003312, 188285.88863328, 196684.18476666,
       243441.8088931 , 148081.79825408, 230296.62662876,  33416.64628277,
       107530.95433073])

In [28]:
x_test.head()

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt
860,7,1426,1,216,912,912,1,7,1918
1146,6,1298,2,403,1298,1298,2,5,1985
1092,6,1694,2,576,1181,1390,2,7,1925
1018,7,1472,2,402,384,802,2,7,1991
628,5,2080,2,504,1040,1040,1,9,1969

In [29]:

from sklearn.metrics import mean_squared_error

In [30]:
#Preço da casa está variando entre + 37757 e - 37757
#Aqui o cliente pode dizer se essa variação está boa ou não para a venda da casa 
np.sqrt(mean_squared_error(y_test,y_pred))

37757.830507969935

Pré-Processamento dos dados

In [31]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder

In [32]:
x

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt
0,7,1710,2,548,856,856,2,8,2003
1,6,1262,2,460,1262,1262,2,6,1976
2,7,1786,2,608,920,920,2,6,2001
3,7,1717,3,642,756,961,1,7,1915
4,8,2198,3,836,1145,1145,2,9,2000
...,...,...,...,...,...,...,...,...,...
1455,6,1647,2,460,953,953,2,7,1999
1456,6,2073,2,500,1542,2073,2,7,1978
1457,7,2340,1,252,1152,1188,2,9,1941
1458,5,1078,1,240,1078,1078,1,5,1950
1459,5,1256,1,276,1256,1256,1,6,1965

In [34]:
min_max = MinMaxScaler()
scaled_x = min_max.fit_transform(x.drop(['OverallQual'], axis = 1))
scaled_x[0]

array([0.25923135, 0.5       , 0.3864598 , 0.1400982 , 0.11977972,
       0.66666667, 0.5       , 0.94927536])

In [43]:
#É um transformador da variável que for colocada nele.
#Tem fi e fit_transformer
one = OneHotEncoder(categories = 'auto')
qual_trans = one.fit_transform(x[['OverallQual']])
qual_trans.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [46]:
#Categoria 7 nota 1
one.categories_

[array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)]

In [45]:
#Cada nota tem um peso especifico 
#Codificado
qual_trans[0].todense()

matrix([[0., 0., 0., 0., 0., 0., 1., 0., 0., 0.]])

In [48]:
qual_trans = pd.DataFrame(qual_trans.todense(),columns=one.categories_)
qual_trans.columns = ['qual_'+str(x) for x in list(zip(*qual_trans.columns.values))[0]]

In [50]:
df_scaled = pd.DataFrame(scaled_x,columns=x.drop(['OverallQual'],axis=1).columns)
df_scaled

,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt
0,0.259231,0.50,0.386460,0.140098,0.119780,0.666667,0.500000,0.949275
1,0.174830,0.50,0.324401,0.206547,0.212942,0.666667,0.333333,0.753623
2,0.273549,0.50,0.428773,0.150573,0.134465,0.666667,0.333333,0.934783
3,0.260550,0.75,0.452750,0.123732,0.143873,0.333333,0.416667,0.311594
4,0.351168,0.75,0.589563,0.187398,0.186095,0.666667,0.583333,0.927536
...,...,...,...,...,...,...,...,...
1455,0.247362,0.50,0.324401,0.155974,0.142038,0.666667,0.416667,0.920290
1456,0.327619,0.50,0.352609,0.252373,0.399036,0.666667,0.416667,0.768116
1457,0.377920,0.25,0.177715,0.188543,0.195961,0.666667,0.583333,0.500000
1458,0.140166,0.25,0.169252,0.176432,0.170721,0.333333,0.250000,0.565217
1459,0.173700,0.25,0.194640,0.205565,0.211565,0.333333,0.333333,0.673913

In [51]:
for column in qual_trans.columns:
    df_scaled[column] = qual_trans[column]

In [52]:
df_scaled

,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,qual_1,qual_2,qual_3,qual_4,qual_5,qual_6,qual_7,qual_8,qual_9,qual_10
0,0.259231,0.50,0.386460,0.140098,0.119780,0.666667,0.500000,0.949275,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.174830,0.50,0.324401,0.206547,0.212942,0.666667,0.333333,0.753623,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.273549,0.50,0.428773,0.150573,0.134465,0.666667,0.333333,0.934783,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.260550,0.75,0.452750,0.123732,0.143873,0.333333,0.416667,0.311594,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.351168,0.75,0.589563,0.187398,0.186095,0.666667,0.583333,0.927536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0.247362,0.50,0.324401,0.155974,0.142038,0.666667,0.416667,0.920290,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1456,0.327619,0.50,0.352609,0.252373,0.399036,0.666667,0.416667,0.768116,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1457,0.377920,0.25,0.177715,0.188543,0.195961,0.666667,0.583333,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1458,0.140166,0.25,0.169252,0.176432,0.170721,0.333333,0.250000,0.565217,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1459,0.173700,0.25,0.194640,0.205565,0.211565,0.333333,0.333333,0.673913,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [53]:
x_train,x_test,y_train,y_test = train_test_split(df_scaled,y, test_size = 0.25, random_state=43)

In [54]:
lr_scaled = LinearRegression()
lr_scaled.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
#Diminuir o erro em 10% é bom
#Utilizar mais features pode levar a redução 
y_pred = lr_scaled.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_pred))

36789.94001804077